<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.wechat.dao.FriendMapper">
    <resultMap id="BaseResultMap" type="org.example.wechat.pojo.entity.BizFriendApply">
    </resultMap>
    <select id="getfriendList" resultType="org.example.wechat.pojo.vo.FriendListVO">
        SELECT
            u.sys_user_id AS friendID,
            u.user_name AS friendName,
            COALESCE(bf.nickname, u.user_nickname) AS nickname,
            u.user_avatar AS avatar,
            u.is_deleted AS isDeleted,
            bf.category_id AS categoryID
        FROM biz_user u
                 INNER JOIN (
            SELECT
                CASE
                    WHEN user_id = #{userId} THEN friend_id
                    ELSE user_id
                    END AS friend_id
            FROM biz_user_friend
            WHERE status = 1
              AND (user_id = #{userId} OR friend_id = #{userId})
            GROUP BY
                CASE
                    WHEN user_id = #{userId} THEN friend_id
                    ELSE user_id
                    END
        ) f ON u.sys_user_id = f.friend_id
                 LEFT JOIN biz_friend bf
                           ON bf.creator_id = #{userId} AND bf.sys_friend_id = u.sys_user_id
    </select>

</mapper>