<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.wechat.dao.FriendMapper">
    <resultMap id="BaseResultMap" type="org.example.wechat.pojo.entity.BizFriendApply">
    </resultMap>
    <select id="getfriendList" resultType="org.example.wechat.pojo.vo.FriendListVO">
        SELECT
            uf.friend_id as friendID,
            u.user_name as friendName,
            COALESCE(f.nickname, u.user_nickname) as nickname,
            u.user_avatar as avatar,
            c.category_id as categoryID,
            CONCAT(LEAST(uf.user_id, uf.friend_id), '_', GREATEST(uf.user_id, uf.friend_id)) as chatId
        FROM biz_user_friend uf
        INNER JOIN biz_user u ON uf.friend_id = u.sys_user_id AND u.is_deleted = 0
        LEFT JOIN biz_friend f ON f.sys_friend_id = uf.friend_id
            AND f.friend_name = u.user_name AND f.creator_id = uf.user_id
        LEFT JOIN biz_category c ON f.category_id = c.category_id
        WHERE uf.user_id = #{userId}
          AND uf.status = 1
        ORDER BY c.category_id, f.is_top DESC, COALESCE(f.nickname, u.user_nickname)
    </select>

</mapper>